body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

.navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}



.home {
	height: 100%;
	background-color: #e3f2fd;
	padding-top: 100px;
	text-align: center;
}

#face {
	display: inline-block;
	position: absolute;
	left: 100px;
}

.glyphicon-console {
	position: relative; 
	right: 15px;
}

.about {
	padding-top: 50px;
	height: 50%;
	background-color: #cbe7fb;
}

.welcome.triggered #about-me {
	position: relative;
	text-align: left;
	left: 400px;
	padding-bottom: 25px;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	animation: type 3s forwards steps(20, end); 
}

.about .container .row .col-md-12 .blurb.triggered {
	
	position: relative;
	left: 350px;
	line-height: 25px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	animation: type 5s 2s forwards steps(38,end);
	}
	
.about .container .row .col-md-12 .blurb.triggered#l2 {
	width: 100%;
	animation: type2 6s forwards steps(78, end);
  
}

.about .container .row .col-md-12 .blurb.triggered#l3 {
	width: 100%;
	animation: type2 8.5s forwards steps(73, end);
}


.about .container .row .col-md-12 .blurb.triggered#l4 {
	width: 100%;
	animation: type3 10s forwards steps(65, end);
}

.about .container .row .col-md-12 .blurb.triggered#l5 {
	width: 100%;
	animation: type3 12.5s forwards steps(69, end);
}

.about .container .row .col-md-12 .blurb.triggered#l6 {
	width: 100%;
	animation: type3 16s forwards steps(67, end);
}

.about .container .row .col-md-12 .blurb.triggered#l7 {
	animation: type3 19s forwards steps(36, end);
	width: 100%;
	}

.typinganimation {
  animation: type 5s steps(35, end),
  blink 1s infinite;
}

@keyframes blink {
  to{opacity: 0;}
}

@keyframes type {
	from {width: 0%; }
	to {width: 100%; }
}

@keyframes type2 {
	0% {width: 0;}
	50% {width: 0;}
	100% {width 100%;}
}

@keyframes type3 {
	0% {width: 0;}
	60% {width: 0;}
	100% {width 100%;}
}


.projects {
	height: 100%;
	background-color: #b3dcfa;
	padding-top: 50px;
	text-align: center;
}

